.loan-tracking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .loan-status {
    margin-bottom: 20px;
  }
  
  .loan-track {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  
  .track-point,
  .track-end-point {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
  }
  
  .active {
    background-color: #5cb85c; /* Set the active track point color */
    color: #fff;
  }
  