<div class="container">
  <h3>Loan Tracking</h3>
  <div class="loan-details">
    <div>
      <label><strong>Loan Type:</strong> {{loanDetailsObj?.loanDetails?.loanType}}</label>
    </div>
    <div>
      <label><strong>Loan Amount:</strong> {{loanDetailsObj?.loanDetails?.loanAmount}}</label>
    </div>
    <div>
      <label><strong>Loan Status:</strong> {{loanDetailsObj?.loanDetails?.loanStatus}}</label>
    </div>
    <!-- Display other loan details as per your requirements -->
  </div>
</div>


