.card-title{
    font-variant-caps: all-petite-caps;
}
.card-body{
    padding: 0;
}

.section-padding{
    margin-top: 120px;
}

#h2
{
    font-size: 28px;
}
.container-fluid{
    margin-top: 70px;
  
     /* opacity: 0.4; */
}
/* .about_img{
    width: 100%;
    height: inherit;
    background-image: url("https://media.istockphoto.com/id/1277143096/photo/bank-sign-on-a-modern-glass-building-3d-render.jpg?s=170667a&w=0&k=20&c=Av2yrA04Q7iWIaT2oKH4BZC2GExl7hTeGGR-whZMD0E=");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
} */
.text_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table {
    width: 100%;
    border-collapse: collapse;
  }

  .table th,
  .table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
  }
  
  .table th {
    background-color: #95c8f1;
  }

  .modal-content{
    width: 50vw;
  }

@media screen and (max-width:400px) 
{
    .section-padding{
        margin-top: 80px;
    }
    .container{
        padding: 0;
    }
    .about-text h1{
        font-size: 26px;
    }
}