<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">{{fullName}}</a>
          </li>
          <ng-container *ngIf="role==='user'">
          <li class="nav-item">
            <a class="nav-link">{{cust_name}}</a>
          </li>
        </ng-container>
          <li class="nav-item">
            <a class="nav-link" routerLink="loaneligible">Check</a>
          </li>
          <ng-container *ngIf="role==='admin'">
            <li class="nav-item">
                <a class="nav-link" href="#">Loan Requests</a>
              </li>
          </ng-container>

          <li class="nav-item">
            <button (click)="signOut()" class="btn btn-danger">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  

<!-- <ul *ngFor="let user of users">
    <li>{{user.userName}}</li>
</ul> -->

