
.grid-container {
display: grid;
/* grid-template-columns: auto auto ; */
gap: 10px;
padding: 10px;

}
.loan_header{
    font-variant-caps:petite-caps;
}




.container-fluid{
    font:caption;
    overflow-x: hidden;
    width: 70%;
    padding:0;
    display: block;
    margin-top:70px;
   
    
}
.form-container{
    border: 2px solid black;
   
}
.floating-button {
  
    bottom: 20px;
    right: 20px;
    z-index: 999;
      position: fixed;
      display: inline-block;
      cursor: pointer;
      animation-name: moveDown;
      animation-duration: 1s;
      animation-timing-function: alternate;
      animation-iteration-count: infinite;
  }

  .caption{
    font:caption;
  }

  @keyframes moveDown {
    0% {
      transform: translateY(-10px);
      transform: scale(1.2);
    }
    100% {
      transform: translateY(0px);
      transform: scale(1.3);
    }
  }

  .floating-button button{
    border-radius: 50%;
    
    
    transform: scale(1.75);
    border-radius: 50%;
    margin-right: 30px;
  }
  
  .floating-button a {
    display: block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    /* border-radius: 5px; */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    
  }
  
  .floating-button a:hover {
    background-color: #0056b3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

.grid-container > div {
background-color: rgba(255, 255, 255, 0.8);
/* border: 1px solid black; */
text-align: center;
font-size: 30px;
}
.main-container{
display: flex;
}
.title1{
width: 40%;
font-size: 16px;
font-weight: bold;
text-align: left;
margin-left: 15px;
margin-top: 30px;

}
.title{
width: 40%;
font-size: 16px;
font-weight: bold;
text-align: left;
margin-left: 15px;

}
.sub-container{
width: 100%;
}
.content1{
    width: 75%;
    border-bottom: 1px solid black;
    font-size: 16px;
    margin-top: 30px;
    text-align: center;
    text-transform: capitalize;
}
.content{
    text-transform: capitalize;
width: 75%;
border-bottom: 1px solid black;
font-size: 16px;
margin-bottom: 10px;
text-align: center;
}
.header{
background-color: rgb(120, 150, 247);margin-bottom: 10px;
}
.header-title{
color: rgb(11, 11, 161);
font-weight:bold;
font-size: 2rem;
}
.header-sub-title{
color: rgb(11, 11, 161);
font-weight:bold;
font-style: italic;
font-size: 1rem;
margin-bottom: 10px;
}
.form-title{
text-align: center;
font-weight:bold;
}
p{
    font-weight: bold;
}
.loan_heading{
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
}

.privacy{
    background-color: rgb(120, 150, 247);
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 13px;
    font-style: italic;
    color: white;
}
.font{
    font-weight: bold;
    font-style: italic;
    color: white;
    font-size: 11px;
    margin-bottom: 9px;
}
@media screen and (max-width: 600px) {
.col-md-6  {
width: 100%;
margin-top: 5px;
margin-left: 40px;
font-size: small;
font-weight: bold;

}
.col-md-4  {
width: 100%;
margin-left: 40px;
font-size: small;
font-weight: bold;
}
.privacy{
    font-size: 12px;
}
}

@media screen and (max-width: 500px){
    /* .form-container{
        width: 100%;
    } */
} 