<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="navtab">
    <nav class="mb-3">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="loan-request-tab" data-bs-toggle="tab" data-bs-target="#loan-request"
          type="button" role="tab" aria-controls="loan-request" aria-selected="true">Loan Requests</button>
        <button class="nav-link" id="loan-details-tab" data-bs-toggle="tab" data-bs-target="#loan-details" type="button"
          role="tab" aria-controls="loan-details" aria-selected="false">Loan Acknowledged</button>
      </div>
    </nav>
  </div>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="loan-request" role="tabpanel" aria-labelledby="loan-request-tab"
      tabindex="0">
      <ng-container *ngIf="this.LoanArray.length > 0">

        <div class="loan-table-container">
          <table class="table">
            <thead>
              <tr>
                <th>Loan ID</th>
                <th>Account Number</th>
                <th>Loan Type</th>
                <th>Loan Amount</th>
                <th>Tenure(m)</th>
                <th>Interest</th>
                <th>Other EMI</th>
                <th>Loan EMI</th>
                <th>Total Loan Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let loan of LoanArray">

                <td><a [routerLink]="['/allLoans/'+loan.loanId]">{{ loan.loanId }}</a> </td>
                <td style="font-weight: bold;">{{ loan.accountNum }}</td>
                <td style="text-transform: capitalize;">{{ loan.loanType }}</td>
                <td>&#x20B9;{{ loan.loanAmount }}</td>
                <td>{{ loan.tenure }}</td>
                <td>{{loan.interest}}%</td>
                <td>&#x20B9;{{loan.otherEmi}}</td>
                <td>&#x20B9;{{loan.loanEmi}}</td>
                <td>&#x20B9;{{loan.loanTotalAmount}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
      <ng-container *ngIf="this.LoanArray.length == 0">
        <div class="container">
          <h1>No new Requests</h1>
        </div>
      </ng-container>
    </div>
    <div class="tab-pane fade" id="loan-details" role="tabpanel" aria-labelledby="loan-details-tab" tabindex="0">
      <ng-container *ngIf="this.allLoanArray.length > 0">
        <div class="allloan-table-container">
          <table class="table">
            <thead>
              <tr>
                <th>Loan ID</th>
                <th>Account Number</th>
                <th>Loan Type</th>
                <th>Loan Amount</th>
                <th>Tenure(m)</th>
                <th>Loan Status</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let loan of allLoanArray">

                <td><a [routerLink]="['/allLoans/'+loan.loanId]">{{ loan.loanId }}</a> </td>
                <td style="font-weight: bold;">{{ loan.accountNum }}</td>
                <td style="text-transform: capitalize;">{{ loan.loanType }}</td>
                <td>&#x20B9;{{ loan.loanAmount }}</td>
                <td>{{ loan.tenure }}</td>
                <td class="fw-bold status_color">{{ loan.loanStatus }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
    </div>
  </div>
 
</div>


<app-footer></app-footer>

