/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Poppins', sans-serif;
}

.portfolio .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.services .card-body i {
	font-size: 50px;
}
.team .card-body i {
	font-size: 20px;
}
.card-title
{
	font-weight: bold;
}
.btn-dec
{
	text-decoration: none;
	color:white;
}
.btn-dec:hover{
    
	color: white;
  }
.btn-dec1
{
	text-decoration: none;
	color:black;
}
.btn-dec1:hover{
    
	color: rgb(20, 19, 19);
  }
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.navbar-nav {
		text-align: center;
	}

	.card {
		margin-bottom: 30px;
	}
	.img-area img {
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}

	.about-text {
		padding-top: 50px;
	}
	.card {
		margin-bottom: 30px;
	}
}
html, body { height: 100%; scroll-behavior: smooth; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
