.footer {
    background-color: #0275d8;
    padding: 10px;
    /* position: relative; */
 
    /* margin-top: auto; */
    /* border-top: 1px solid white; */
    font-variant-caps: all-petite-caps;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
  }