<app-navbar></app-navbar>
<section class="services section-padding" id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h1>LOAN</h1>
                    <!-- <p>We aim at providing user-friendly features<br>that provides financial support to their dreams</p> -->
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 col-lg-3">
              <div class="card text-white text-center bg-dark pb-2">
                  <div class="card-body">
                      <!-- <i class="bi bi-intersect"></i> -->
                      <img src="https://cdn-icons-png.flaticon.com/128/1040/1040988.png" style="height:80px;width: 80px;">
                      <h5 class="card-title">Home Loan</h5>
                      <p class="lead" style="font-size: 14px;">Are you looking for a home loan? We can help! We offer a variety of home loans to fit your needs, and we can help you find the best interest rate and terms. We also offer a variety of loan products, so you can find the right loan . </p>
                      <!-- <button class="btn bg-light text-dark" (click)="routeToLoanH()" >Apply Now</button> -->
                  </div>
              </div>
          </div>
            <div class="col-12 col-md-12 col-lg-3">
                <div class="card text-white text-center bg-dark pb-2">
                    <div class="card-body">
                      <!-- <i class="bi bi-intersect"></i> -->
                      <img src="https://cdn-icons-png.flaticon.com/128/3638/3638669.png" style="height: 75px;width: 75px;">
                        <h5 class="card-title">Vehicle Loan</h5>
                        <p class="lead" style="font-size: 14px;">Whether you're buying a new car, a used vehicle, we're here to help you hit the road with affordable financing options. With our quick approval process,  we make it easier for you to get behind the wheel of your dream vehicle. </p>
                        <!-- <button class="btn bg-light text-dark" (click)="routeToLoanV()" >Apply Now</button> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-3">
                <div class="card text-white text-center bg-dark pb-2">
                    <div class="card-body">
                      <!-- <i class="bi bi-intersect"></i> -->
                      <img src="https://cdn-icons-png.flaticon.com/128/7238/7238474.png" style="height:80px;width: 80px;">
                        <h5 class="card-title">Education Loan</h5>
                        <p class="lead" style="font-size: 14px;">We understand the importance of higher education and the financial commitment it entails. Whether you're pursuing a degree or specialized training, we're here to support your educational journey for your better future .</p>
                        <!-- <button class="btn bg-light text-dark" (click)="routeToLoanE()" >Apply Now</button> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-3">
              <div class="card text-white text-center bg-dark pb-2">
                  <div class="card-body">
                    <!-- <i class="bi bi-intersect"></i> -->
                    <img src="https://cdn-icons-png.flaticon.com/128/9172/9172420.png" style="height:80px;width: 80px;">
                      <h5 class="card-title">Personal Loan</h5>
                      <p class="lead" style="font-size: 14px;">Whether you're planning a dream vacation,  or facing unexpected expenses, we're here to help you achieve your goals  .we make it simpler for you to access the funds you need to turn your aspirations into reality. </p>
                      <!-- <button class="btn bg-light text-dark" (click)="routeToLoanP()" >Apply Now</button> -->
                  </div>
              </div>
          </div>
         
        </div>
        <button class="apply-Btn" (click)="routeToLoanForm()" >Apply Now</button> 
    </div>
</section>

