.input-field{
    /* border-radius: 5px; */
    padding: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* border: 1px solid rgb(0, 0, 0); */
    border-bottom: 1px solid black;
    /* text-decoration: underline; */
   
}

.upload_label{
    font-size: 18px;
    font-weight: 700;
}
.document_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-fluid{
    margin-top:60px;
    background-color: aliceblue;
 
 
}

input,label,select{
    font-size: 14px;
    font-weight: 500;
}

option{
    font-size: 13px;
}
small{
    font-size: 13px;
}

.interest_div
{
    border: 1px solid;
    text-align: center;
    font-size: 18px;
    width: 40%;
    background: rgba(170, 170, 170,0.1);

}

::placeholder{
    font-size: 14px;
}

.error{
    color: red;
}

input{
    border: none;
    outline: none;
    text-decoration: none;
    width: 100%;
}

.card-title{
   color:#0275d8;
   font-family: inherit;
}

