<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-12"></div>
        <div class="col-lg-8 col-md-8 col-12">
            <h2 class="card-title text-center pt-3 pb-2">APPLY NOW</h2>
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="loanBasic">
                        <ng-container *ngIf="next()">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="mb-2">
                                    <label for="accountnum" class="form-label">Accountnumber :</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        class="input-field" placeholder="" value={{accountNum}} disabled>
                                </div>
                                <br>
                                <div class="mb-2">
                                    <label for="loanType" class="form-label">Loan Type :</label>
                                    <select class="form-select" class="input-field" formControlName="loanType"
                                        (change)="onChange($event)">
                                        <option value="" selected>Choose type of Loan</option>
                                        <option value="houseLoan">House Loan</option>
                                        <option value="personalLoan">Personal Loan</option>
                                        <option value="educationLoan">Education Loan</option>
                                        <option value="vehicleLoan">Vehicle Loan</option>
                                    </select>

                                    <small
                                        *ngIf="loanBasic.get('loanType')?.invalid && loanBasic.get('loanType')?.touched"
                                        class="error">
                                        Please select a Loan Type.
                                    </small>
                                </div>
                                <!-- <ng-container *ngIf="this.type != undefined"> -->
                                <ng-container *ngIf="this.type == 'houseLoan' || this.type == 'personalLoan'">
                                    <div class="mb-2">
                                        <label for="LoanPurpose" class="form-label">Loan Purpose :</label>
                                        <select class="form-select" class="input-field" formControlName="loanPurpose">
                                            <option value="" selected>Choose LoanPurpose</option>
                                            <ng-container *ngIf="this.type == 'houseLoan'">
                                                <option value="purchase of new Home">New Home Purchase</option>
                                                <option value="renovation of old Home">Old home renovation</option>
                                            </ng-container>
                                            <ng-container *ngIf="this.type == 'personalLoan'">
                                                <option value="vacation">Vacation</option>
                                                <option value="wedding">Wedding</option>
                                                <option value="medical emergency">Medical Emergency</option>
                                                <option value="others">Others</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                    <small
                                        *ngIf="loanBasic.get('loanPurpose')?.invalid && loanBasic.get('loanPurpose')?.touched"
                                        class="error">
                                        Please choose Loan Purpose.
                                    </small>
                                </ng-container>
                                <br>

                                <div class="mb-2">
                                    <label for="loanAmount" class="form-label">Loan Amount :</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="Enter your Loan Amount" class="input-field"
                                        formControlName="loanAmount">
                                    <small
                                        *ngIf="loanBasic.get('loanAmount')?.invalid && loanBasic.get('loanAmount')?.touched"
                                        class="error">
                                        Loan Amount is required.
                                    </small>
                                    <ng-container
                                        *ngIf="loanBasic.controls['loanAmount'].dirty && loanBasic.hasError('pattern','loanAmount')">
                                        <small class="error">Please enter proper credentials</small>
                                    </ng-container>
                                </div>
                                <br>
                                <div class="mb-2">
                                    <label for="interest" class="form-label">Interest :</label>
                                    <div class="interest_div" disabled>{{interest}}%</div>
                                </div>
                                <br>
                                <ng-container *ngIf="this.type == 'personalLoan'">
                                    <div class="mb-2">
                                        <label for="ongoingLoan" class="form-label">Any Ongoing Loan :</label>
                                        <select class="form-select" class="input-field" formControlName="ongoingLoan">
                                            <option value="" selected>Choose Yes/No</option>
                                                <option value="yes">Yes</option>
                                                <option value="no">No</option>
                                        </select>
                                    </div>
                                    <small
                                        *ngIf="loanBasic.get('ongoingLoan')?.invalid && loanBasic.get('ongoingLoan')?.touched"
                                        class="error">
                                        Please choose Yes/No.
                                    </small>
                                </ng-container>
                                <ng-container *ngIf="this.type == 'houseLoan'">
                                <div class="mb-2">
                                    <label for="propertyValue" class="form-label">Property Value :</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="Enter your Property Value" class="input-field"
                                        formControlName="propertyValue">
                                    <small
                                        *ngIf="loanBasic.get('propertyValue')?.invalid && loanBasic.get('propertyValue')?.touched"
                                        class="error">
                                        Property Value is required.
                                    </small>
                                    <ng-container
                                        *ngIf="loanBasic.controls['propertyValue'].dirty && loanBasic.hasError('pattern','propertyValue')">
                                        <small class="error">Please enter proper credentials</small>
                                    </ng-container>
                                </div>
                                <br>
                                <div class="mb-2">
                                    <label for="propertyArea" class="form-label">Property Area :</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="Enter in sqfts" class="input-field" formControlName="propertyArea">
                                    <small
                                        *ngIf="loanBasic.get('propertyArea')?.invalid && loanBasic.get('propertyArea')?.touched"
                                        class="error">
                                        Property Area is required.
                                    </small>
                                    <ng-container
                                        *ngIf="loanBasic.controls['propertyArea'].dirty && loanBasic.hasError('pattern','propertyArea')">
                                        <small class="error">Please enter proper credentials</small>
                                    </ng-container>
                                </div>
                                <br>
                                </ng-container>
                            </div>
                            <!-- <div class="col-lg-2"></div> -->
                            <div class="col-lg-6 col-md-6 col-12">

                                <div class="mb-2">
                                    <label for="tenure" class="form-label">Tenure :</label>
                                    <input type="number" class="form-control" id="exampleFormControlInput1"
                                        placeholder="Enter in months" class="input-field" formControlName="tenure" min="3" max="300">
                                    <small *ngIf="loanBasic.get('tenure')?.invalid && loanBasic.get('tenure')?.touched"
                                        class="error">
                                        Tenure is required.
                                    </small>
                                </div>
                                <br>
                                <div class="mb-2">
                                    <label for="monthlyIncome" class="form-label">Monthly Income :</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="Enter your Monthly Income" class="input-field"
                                        formControlName="monthlyIncome">
                                    <small
                                        *ngIf="loanBasic.get('monthlyIncome')?.invalid && loanBasic.get('monthlyIncome')?.touched"
                                        class="error">
                                        MonthlyIncome is required.
                                    </small>
                                    <ng-container
                                        *ngIf="loanBasic.controls['monthlyIncome'].dirty && loanBasic.hasError('pattern','monthlyIncome')">
                                        <small class="error">Please enter proper credentials</small>
                                    </ng-container>
                                </div>
                                <br>
                                <div class="mb-2">
                                    <label for="annualIncome" class="form-label">Annual Income :</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="Enter your Annual Income" class="input-field"
                                        formControlName="annualIncome">
                                    <small
                                        *ngIf="loanBasic.get('annualIncome')?.invalid && loanBasic.get('annualIncome')?.touched"
                                        class="error">
                                        Annual Income is required.
                                    </small>
                                    <ng-container
                                        *ngIf="loanBasic.controls['annualIncome'].dirty && loanBasic.hasError('pattern','annualIncome')">
                                        <small class="error">Please enter proper credentials</small>
                                    </ng-container>
                                </div>
                                <br>
                                <div class="mb-2">
                                    <label for="otherEmi" class="form-label">OtherEmi :</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="Enter your Expenses" class="input-field"
                                        formControlName="otherEmi">
                                    <small
                                        *ngIf="loanBasic.get('otherEmi')?.invalid && loanBasic.get('otherEmi')?.touched"
                                        class="error">
                                        OtherEmi is required.
                                    </small>
                                    <ng-container
                                        *ngIf="loanBasic.controls['otherEmi'].dirty && loanBasic.hasError('pattern','otherEmi')">
                                        <small class="error">Please enter proper credentials</small>
                                    </ng-container>
                                </div>
                                <br>
                                <ng-container *ngIf="this.type == 'houseLoan'">
                                    <div class="mb-2">
                                        <label for="propertyLoc" class="form-label">Property Location :</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="Enter your Property Location" class="input-field"
                                            formControlName="propertyLoc">
                                        <small
                                            *ngIf="loanBasic.get('propertyLoc')?.invalid && loanBasic.get('propertyLoc')?.touched"
                                            class="error">
                                            PropertyLocation is required.
                                        </small>
                                    </div>
                                    <br>

                                </ng-container>
                            <button class="btn btn-success m-auto d-block w-50" (click)="next()">Next</button>
                            </div>
                        </div>
                    </ng-container>
                        <ng-container *ngIf="next()">
                        <div class="mb-2">
                            <label class="form-label upload_label" for="file">Upload Documents :</label>
                            <div class="document_container">
                                <h5 class="card-title">Documents</h5>
                                <ng-container *ngIf="this.type == 'houseLoan'">
                                    <ul class="card-title">
                                        <li>Bank statement of 3 previous months</li>
                                        <li>Property Documents</li>
                                    </ul>   
                                </ng-container>
                                <ng-container *ngIf="this.type == 'personalLoan'">
                                    <ul class="card-title">
                                        <li>Recent Salary slip</li>
                                        <li>Income certificate</li>
                                    </ul>   
                                </ng-container>
                            </div>
                            <input class="form-control" multiple type="file"
                                (change)="onFileSelected($event)" />
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <button class="btn btn-primary w-25" type="submit" (click)="onFinalSubmit()">Apply</button>
                            <button class="btn btn-danger w-25" (click)="next()">Back</button>
                        </div>    
                   
                      </ng-container>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-12"></div>
    </div>
</div>